/* open-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-300italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 3px solid rgba(0, 0 , 255, .3);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}
/* 
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
} */

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}

.btn:active {
    background-color: darkblue;
    transform: translateY(1px);
}


.btn.btn-big {
    padding: 20px 60px;
}

.text-center {
    text-align: center;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    color: #414141;
}

.section-description {
    font-size: 16px;
    line-height: 1.31; 
    color: #787878;
}

/* Header */
.header {
    height: 110px;
    border-bottom: 1px solid #e4e4e4;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo:focus {
    outline: 3px solid rgba(0, 0 , 255, .3);

}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #1c1c1c;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #3172b9;
}

.nav-item.is-active .nav-link {
    color: #3172b9;
}

.header-btn {
    margin-left: 40px;
}

/* Hero */
.section-hero {
    background: url('/img/Base.png') right center white;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}
/* 
.hero-content {
    max-width: 44%;
} */

.section-hero-heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: #1c1c1c;   
}

.section-hero-action {
    display: inline-block;
}

.section-hero-description {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 25px;
    color: #787878;
}

.section-hero-btn-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #787878;
}

.section-hero-ssl-icon {
    display: inline-block;
    width: 13px;
    height: 17px;
    margin-right: 10px;
    background: url('/img/ssl.svg') center center no-repeat transparent;
    background-size: contain;
    transform: translateY(-1px);
}

/* What we do */
.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4;
}

.section-do-list {
    margin-top: 50px;
}

.section-do-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

/* .section-do-item:not(:last-child) {
    margin-right: 30px;
} */

.section-do-item:hover {
    background-color: #3172b9;
    color: white;
    cursor: pointer;
}

.section-do-item:hover .section-do-item-heading {
    color: white;
}

.section-do-item:hover .section-do-item-description {
    color: white;
}

.section-do-item-heading {
    margin-bottom: 18px;
    font-style: 20px;
    line-height: 1;
    font-weight: 600;
    color: #1c1c1c;
}

.section-do-item:hover .section-do-icon path {
    fill: white;
}

.section-do-icon {
    margin-bottom: 30px;
}

.section-do-item-description {
    margin-top: 0;
    font-style: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: #787878;
}

/* Clients */
.section-clients {
    padding-top: 90px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4;
}

.section-clients-heading {
    margin-bottom: 45px;
}

/* .section-clients-list {
    display: flex;
}
 */
.section-clients-item {
    /* flex: 1 1 33.33%; */
    padding: 50px 35px 30px;
/*     flex-direction: column;
    justify-content: space-between; */
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

/* .section-clients-item:not(:last-child) {
    margin-right: 30px;
} */

.section-clients-testimonial {
    margin-top: 0;
    margin-bottom: 35px;
    font-style: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #787878;
}

.section-clients-user {
    display: flex;
    align-items: center;
    padding-top: 28px;
    border-top: 1px solid #e9e9e9;
}

.section-clients-avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 2px solid #3172b9;
    border-radius: 50%;
}

.section-clients-username {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
}

.section-clients-user-description {
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

/* Contacts */
.section-contacts {
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #e4e4e4;
}

.section-contacts-list {
/*     display: flex; */
    margin-top: 43px;
}
/* 
.section-contacts-item {
    flex: 1 1 33.33%;
} */

.section-contacts-info {
    max-width: 250px;
}

.section-contacts-icon {
    display: block;
    height: 26px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100%;
    background-color: transparent;
}

.section-contacts-icon-gps {
    background-image: url('/img/contacts/gps.png');
}

.section-contacts-icon-phone {
    background-image: url('/img/contacts/phone.png');
}

.section-contacts-icon-mail {
    background-image: url('/img/contacts/mail.png');
    background-size: auto 19px;
}

.section-contacts-heading {
    display: block;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1;
    color: #1c1c1c;
}

.section-contacts-info {
    font-size: 14px;
    line-height: 25px;
    color:#787878
}

.section-contacts-link {
    color: #787878;
}

/* Form */
.section-form {
    border-bottom: 1px solid #e4e4e4;
}

.form-container {
    height: 435px;
    padding-top: 110px;
    padding-bottom: 117px;
}

.form-title {
    text-align: center;
}

.form-description {
    font-style: 16px;
    line-height: 21px;
    text-align: center;
    color: #787878;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.input {
    padding-left: 30px;
}

.btn-submit {
    text-transform: uppercase;
    font-weight: 300;
}

.input,
.btn-submit {
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    background-repeat: 30px;
    border-radius: 30px;
    border: 1px solid #e4e4e4;
}

.input::placeholder {
    color: #787878;
    border-color: #3172b9;
}

/* Footer */
.footer {
    height: 125px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-copyrights {
    font-style: 12px;
    line-height: 17px;
    color: #787878;
}

.footer-nav {
    margin-right: 55px;
}

.footer-nav-list {
    display: flex;
}

.footer-nav-item {
    font-style: 14px;
    line-height: 1;
}

.footer-nav-item:not(:last-child) {
    margin-right: 35px;
}

.footer-nav-link {
    color: #787878;
}

.footer-social-list {
    display: flex;
    align-items: center;
}

.footer-social-item:not(:last-child) {
    margin-right: 30px;
}

.footer-social-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
}

.footer-social-icon-twitter {
    width: 18px;
    height: 17px;
    background-image: url('/img/footer-icons/twiter.svg');
}

.footer-social-icon-linkedin {
    width: 18px;
    height: 19px;
    background-image: url('/img/footer-icons/linkadin.svg');
    transform: translateY(-2px);
}

.footer-social-icon-mail {
    width: 24px;
    height: 17px;
    background-image: url('/img/footer-icons/email.svg');
}